/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .hero-container {
        display: flex;
        background-image: url("../../assets/images/moscow.jpg");
        height: 100vh;
        width: auto;
        background-size: cover;
        flex-direction: column;
    }
    .header-text-container {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .header-text {
        font-size: 3em;
        color: black;
        padding: 10vh 0 10vh 0;
        /*border: white 1px solid;*/
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;    }

    .badge {
        display: flex;
        width: 200px;
        height: auto;
    }

    .download-cv-badge-container {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .download-cv-badge-container-background {
        background-color: black;
        border-radius: 5px;
        border: white 1px solid;
    }
    .download-cv-badge-text {
        color: white;
        padding: 0 10px 0 10px;
    }
}

@media only screen and (max-width: 767px) {

}

@media screen and (min-width: 767px) and (max-width: 991px) { 

}
